# Run Command
>python -m unittest limit\tests\limit_order_agent_tests.py

# Test Results

| Test Case                   | Status   |
|-----------------------------|----------|
| test_buy_order_execution    | Passed   |
| test_sell_order_execution   | Passed   |
